<% Cat.all.each do |cat| %>
	<h1>
	<%= cat.name%>
</h1>
<% end %>


<% User.all.each do |user| %>
	<h2>email:<h2>
	<%= user.username%>

	<%= user.email%>
<% end %>


<% Todo.all.each do |todo| %>
	<%= todo.task%>
	<br/>
<% end %>

<%= link_to "new", todos_new_path(@new) %>
